body {
    font-family:"Roboto",monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* header style modifications */

.header-page {
    display:flex;
    justify-content: space-between;
    min-height: 30px;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}
.header-logo {
    font-size:24px;
}

.header-page ul {
    display: flex;
    gap:20px;
    font-size: 15px;
}


/* first block style */

.first-block {
    display: flex;
    padding: 40px;
    gap:100px;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-around;

}
.first-block .left-side{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    
    
}
.first-block .left-side .header {
    font-size: 48px;
    font-weight: 800; 
}

.first-block .left-side .text {
    font-size: 18px;
    color: #E5E7EB;
}

.first-block .right-side img {
    display: flex;
    flex-grow: 1;
}

.first-block .left-side button {
    background-color: #3882F6;
    color: white;
    max-width: 120px;
    border-radius: 6px;
    padding: 5px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
}

/* second block style */

.second-block {
    display:flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
    
}


.second-block .header {
   display:flex;
   align-items: center;
   justify-content: center; 
   font-size: 36px;
   font-weight: 800;
   color: #1F2937;
}

.second-block .container {
    display:flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    
}

.second-block .container .info-card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 20px;
}

/* third block style */

.third-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 200px;
    padding: 20px;
}

.third-block .container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 10px 160px;
    gap:10px;
}

.third-block .container .quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.third-block .container .quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.first-block,
.second-block,
.third-block,
.forth-block {
    flex-grow: 1;
}

/* forth block style */

.forth-block {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.forth-block .container {
    display:flex;
    gap: 100px;
    background-color: #3882F6;
    padding: 40px 150px;
    border-radius: 8px;;
   
}

.forth-block .container .header {
    font-size: 20px;
    font-weight: 800;
    color: #E5E7EB;
}

.forth-block .text {
    color: #e5e7ebd5
}

.forth-block .sign-up {
    background-color: #3882F6;
    color: white;
    max-width: 120px;
    border-radius: 6px;
    padding: 10px 20px;
    border: 2px solid white;
    font-size: 18px;
}

/* footer style */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: rgba(255, 255, 255, 0.842);
    padding:30px;
    font-size:20px;
}